@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Press+Start+2P&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}


h1 {
  font-size: 3.5rem;
  font-weight: 800;
}


.theme-container.custom-page-class {
  .last-updated {
    .prefix, .time{
      color: transparent;
    }
  }
}