@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Press+Start+2P&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;

  &::selection {
    background-color: #ffcb1f;
  }
}


h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h1 a.header-anchor,
h2 a.header-anchor,
h3 a.header-anchor,
h4 a.header-anchor,
h5 a.header-anchor,
h6 a.header-anchor {
  color: $accentColor;
  text-decoration: none;
}


.page a {
  color: $textColor;
  text-decoration: underline;

  &:hover {
    color: $accentColor;
  }
}

code[class*="language-"],
pre[class*="language-"],
pre[class*="language-"] span,
kbd, .line-number {
  font-family: 'Consolas','Noto Sans KR', sans-serif;
}

footer.page-edit .last-updated {
    .prefix, .time{
      color: transparent;
    }
}


.theme-container.custom-page-class {
  .title-area {
    user-select: none;
  }

  .title-area h1 {
    background-color: #ffcb1f;
    text-align: right;
    word-wrap: break-word;
    font-family: "Press Start 2P";
    padding: 1rem;
  }

  .recent-posts {
    .title {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
      color: #555;
    }

    a {
    color: $textColor;
    
      &:hover{
        text-decoration: underline;
        color: $accentColor;
      }
    }

    .list {
      margin: 0.5rem 0;
    }

    li::marker {
      color: #aaa;
      font-size: 0.8rem;
    }
  }

  .info-area {
    text-align: right;
  }

  @media (max-width: 500px) {
    .title-area h1 {
      font-size: 1.6rem;
    }
  }
}
